{# TEMPLATE: archive-buildings.twig #}

{% extends "index.twig" %}

{% block content %}
    <div class="content-wrapper bg-cream">
        

        {# BUILDINGS #}
        <section class="mt-0">
            <h2 class="text-2xl text-yellow mb-4">Featured Buildings</h2>
            <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                {# loop through the buildings returned #}
                {% for post in posts %}
                    {# include the content from the first file here, if it can't find it, load the other #}
                    {% include ['tease-buildings.twig', 'tease.twig'] %}
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}
