{# TEMPLATE: ARCHIVE.twig #}

{% extends "index.twig" %}

{% block content %}

<<<<<<< Updated upstream
	<div class="bg-cream h-screen ">
=======
	<div class="bg-cream h-screen overflow-hidden flex justify-center items-center">
>>>>>>> Stashed changes
	{% for post in posts %}
	<div class="max-w-screen-1g max-auto mt-9">
		
		<div class="text-black">
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		</div>
		
	
	{% endfor %}
	</div>

	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

	<div
		class="debug p-8 bg-debug">
		{# useful for debugging, delete later #}
		<h1>Debug info</h1>

		<p class="pb-4">post name:
			{{post.name}}</p>

		<p>file name: archive.twig</p>

		{# Output what is in the post #}
		{# {{dump(post)}} #}
	</div>
{% endblock %}
