{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
    <div class="article-body flex flex-wrap justify-center">
        {% for post in posts %}
            {# it will look for tease-events.twig, and then go to tease.twig #}
            {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] with { position: loop.index } %}
        {% endfor %}
    </div>
    <div class="debug p-8 bg-yellow-400">
        {# useful for debugging, delete later #}
        <h1 class="text-black">Debug info</h1>
        <p class="text-black">file name: archive-events.twig</p>
        {# Output what is in the post #}
        {# {{dump(post)}} #}
    </div>
{% endblock %}



